<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.BannerMapper">
	<select id="selectBannerListByAdmin" resultType="java.util.Map">
		SELECT *
		FROM BANNERS

		WHERE 1=1
		<if test="bannerType != null and bannerType != ''">
	        AND BANNER_TYPE = #{BANNER_TYPE}
	    </if>
	</select>
	
	<insert id="insertBannerByAdmin" parameterType="map">
	    INSERT INTO BANNERS (
	        ,BANNER_TYPE
	        ,BANNER_TITLE
	        ,IMG_ORIGIN_NAME
	        ,IMG_ATTACHED_NAME
	        ,IMG_PATH
	        ,IS_VISIBLE
	        ,LINKED_URL
	        ,SORT_NUMBER
	        ,INPUT_DT
	        ,INPUT_ID
	    ) VALUES (
	        ,#{BANNER_TYPE}
	        ,#{BANNER_TITLE}
	        ,#{IMG_ORIGIN_NAME}
	        ,#{IMG_ATTACHED_NAME}
	        ,#{IMG_PATH}
	        ,#{IS_VISIBLE}
	        ,#{LINKED_URL}
	        ,#{SORT_NUMBER}
	        ,NOW()
	        ,#{INPUT_ID}
	    )
	</insert>
	
	<update id="updateBannerByAdmin" parameterType="map">
        UPDATE BANNERS
        SET
            BANNER_TYPE      = #{BANNER_TYPE},
            BANNER_TITLE     = #{BANNER_TITLE},
            IMG_ORIGIN_NAME  = #{IMG_ORIGIN_NAME},
            IMG_ATTACHED_NAME= #{IMG_ATTACHED_NAME},
            IMG_PATH         = #{IMG_PATH},
            IS_VISIBLE       = #{IS_VISIBLE},
            LINKED_URL       = #{LINKED_URL},
            SORT_NUMBER      = #{SORT_NUMBER},
            UPDATE_DT        = NOW(),
            UPDATE_ID        = #{UPDATE_ID}
        WHERE BANNER_ID = #{BANNER_ID}
    </update>

	</select>

</mapper>