<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.MemberMapper">
	
	<!--관리자 로그인 -->
	<select id="adminLogin" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			MEMBER_ID
			,'O' AS PASSWORD
		  FROM MEMBERS
		 WHERE MEMBER_ID = #{MEMBER_ID}
		   AND PASSWORD = #{PASSWORD}
	</select>

</mapper>