<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.NotificationMapper">
	
	<select id="selectUnreadCountByCommon" parameterType="map" resultType="int">
	#안읽은 메세지 개수 처리
		SELECT COUNT(*) 
		  FROM TB_NOTIFICATION 
		 WHERE RECEIVER_ID = #{userId}
		   AND RECEIVER_TYPE = #{receiverType}
		   AND READ_YN = 'N'
	</select>
	
	<select id="selectNotificationList" parameterType="map" resultType="map">
		SELECT NOTI_MESSAGE
		     , NOTI_ID
		  FROM TB_NOTIFICATION
		 WHERE RECEIVER_ID = #{userId}
		   AND RECEIVER_TYPE = #{receiverType}
		   AND READ_YN = 'N'
	</select>
	
	<update id="updateReadStatus" parameterType="map">
		UPDATE TB_NOTIFICATION
		   SET READ_YN = 'Y'
		 WHERE RECEIVER_ID = #{userId}
		   AND NOTI_ID = #{notiId}
	</update>
	
	<insert id="insertNotificationByAdmin" parameterType="map">
		INSERT INTO TB_NOTIFICATION (
			NOTI_ID,
			SENDER_ID,
			RECEIVER_ID,
			RECEIVER_TYPE,
			NOTI_TYPE,
			NOTI_MESSAGE,
			ORDER_NO,
			ORDER_STATUS,
			READ_YN,
			REG_DATE
		) VALUES (
			CONCAT('NOTI_', DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), LPAD(FLOOR(RAND() * 1000), 3, '0')),
			#{senderId},
			#{receiverId},
			#{receiverType},
			#{notiType},
			#{notiMessage},
			#{orderNo},
			#{orderStatus},
			'N',
			NOW()
		)
	</insert>
	
</mapper>