@charset "utf-8";
/* common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: keep-all;
  line-height: 1.3;
  font-size: 100%;
  font: inherit;
}
body {
}
#wrap {
}

input,
select,
button {
  min-width: 120px;
  padding: 5px;
  margin: 3px 0;
  border: 1px solid #aaa;
  border-radius: 3px;
}
input[type="checkbox"],
input[type="radio"] {
  min-width: auto;
  appearance: none;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
  margin-right: 4px;
}

input[type="radio"] {
  border-radius: 50%;
}
input[type="radio"]:checked {
  position: relative;
  background: #f4672b;
}
input[type="radio"]:checked:after {
  position: absolute;
  top: 0;
  left: 5px;
  width: 8px;
  height: 8px;
  color: #fff;
  content: "✓";
}

input[type="checkbox"] {
  border-radius: 3px;
}
input[type="checkbox"]:checked {
  position: relative;
  background: #f4672b;
}
input[type="checkbox"]:checked:after {
  position: absolute;
  top: 0;
  left: 5px;
  width: 8px;
  height: 8px;
  color: #fff;
  content: "✓";
}

/*number공통*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*hover공통*/
input[type="button"]:hover,
button:hover {
  cursor: pointer;
  background: #333;
  color: #fff;
}
select:hover {
  cursor: pointer;
}
/*active공통*/
input[type="button"]:active,
button:active {
  background: #b20a0a;
  color: #fff;
}

textarea {
  width: 100%;
  min-height: 120px;
  margin: 8px 0;
  resize: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border-top: 2px solid #333;
}
th {
  padding: 2px 8px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
td {
  padding: 2px 8px;
  border-bottom: 1px solid #ccc;
}
table .warning {
  font-size: 12px;
  color: red;
}
table .check {
  font-size: 12px;
  color: green;
}

ul.list {
  padding: 0;
  margin: 0;
}
ul.list li {
  position: relative;
  list-style: none;
}
ul.list li:before {
  position: absolute;
  left: -8px;
  content: "-";
}

 /*flex 선언*/ 
  .flex{display: flex;}
  .flex.ju-center{justify-content: center;}
  .flex.ju-between{justify-content: space-between;}
  .flex.ai-center{align-items: center;}
  .flex.fd-column{flex-direction: column;}

  /*text*/
  .txt-right{text-align: right;}
  .txt-center{text-align: center;}
  .txt.warning{color:red;}

  /*content*/
  .title-area{padding-top:10px; padding-bottom:10px;}
  .btn-area{padding-top:1rem;}
  .btn-area input,
  .btn-area button{margin:0 10px;}