html {
  overflow-y: scroll;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container {
  display: flex;
  /* margin-left: calc(50vw - 314px); */
  justify-content: center;
  /* height: 100vh; */
}
