@charset "UTF-8";
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

.sub-comment { font-size: 32px; font-weight: 600; margin-bottom: 60px; text-align: center; color: #333; }

/* 플렉스 공통 */
main .flex { display: flex; }
main .flex.ju-center{justify-content: center;}
main .flex.ju-between{justify-content: space-between;}
main .flex.ju-end{justify-content: flex-end;}
main .flex.ai-center{align-items: center;}
main .flex.fd-column{flex-direction: column;}
main .flex.f-wrap{flex-wrap: wrap;}

/*메인공용*/
main section{padding:120px 0;}
.swiper {width: 100%; overflow: hidden;}
.swiper .swiper-wrapper {display: flex;}
.swiper .swiper-slide { width: auto;}
.main-swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{text-align:center;}

/* Swiper 기본 */
.swiper-pagination-bullet { background: #999; opacity: 0.7; }
.swiper-pagination-bullet-active { background: #333; opacity: 1; }


/* 메인 배너 */
.main_banner_area .swiper { width: 100%;  background:#f5f5f5;  overflow: hidden;  posoition:relative;}
main section.main_banner_area{padding:0; border-bottom:1px solid #ccc;}
.main_banner_area .img-area {  width: 100%;  padding-top:36.25%;   background-size: cover;  background-position: center center;}
.main-swiper-pagination{position:absolute; bottom:1px; z-index:1; dispaly:flex; justify-content:center;}
.main_banner_area .img-area .full-link { display:block;  width: 100%; height: 100%;}

main section.main-quick{padding-top:60px; padding-bottom:0;}
.main-quick ul li{flex:1; margin:8px;}
.main-quick ul li a{width:100%; display:block; background:#fff; padding:20px; border-radius:10px; text-align:center; border:1px solid #eee; color:#333;}
.main-quick ul li a:hover{box-shadow:0 0 10px 10px #ccc;}
.main-quick ul li a dl dt{padding-top:80px;}


/* 기본 상품 아이템 */
.prd_area .prdList{padding:15px 0; overflow:hidden;}
.prd_area .prdItem { list-style: none;  margin-bottom: 20px;}
.prd_area .prdItem.nodata{width:100% !important; }
.prd_area .prdItem.nodata .nodata{width:100%; padding:50px 0; text-align:center; font-size:18px; color:#999;}

.btn-view-more-wrap{padding:40px 0;}
.btn-view-more{border:2px solid #333; padding:10px 40px;}

.shortbanner_area{background:pink;}