@charset "UTF-8";
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

.sub-comment { font-size: 32px; font-weight: 600; margin-bottom: 60px; text-align: center; color: #333; }

body {
  cursor: url('../../images/egovframework/main/chardood.png'), auto;
}

/* 플렉스 공통 */
main .flex { display: flex; }
main .flex.ju-center{justify-content: center;}
main .flex.ju-between{justify-content: space-between;}
main .flex.ju-end{justify-content: flex-end;}
main .flex.ai-center{align-items: center;}
main .flex.fd-column{flex-direction: column;}
main .flex.f-wrap{flex-wrap: wrap;}

/*메인공용*/
main section{padding:100px 0;}
.swiper {width: 100%; overflow: hidden;}
.swiper.swiper-half{width: 49%; padding:10px;}
.swiper.swiper-half .swiper-left{margin-left:1%; }
.swiper.swiper-half .swiper-right{margin-right:1%;}
.swiper .swiper-wrapper {display: flex;}
.swiper .swiper-slide { width: auto;}
.main-swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{text-align:center;}

/* Swiper 기본 */
.swiper-pagination-bullet { background: #999; opacity: 0.7; }
.swiper-pagination-bullet-active { background: #333; opacity: 1; }


/* 메인 배너 */
.main_banner_area .swiper { width: 100%;  background: #CDDEFC url('../../images/egovframework/main/bg.png') center center / contain no-repeat; overflow: hidden;  posoition:relative;}
main section.main_banner_area{padding:0; border-bottom:1px solid #ccc;}
.main_banner_area .img-area {  width: 100%;  padding-top:36.25%;   background-size: cover !important;  background-position: center center;}
.main-swiper-pagination{position:absolute; bottom:1px; z-index:1; dispaly:flex; justify-content:center;}
.main_banner_area .img-area .full-link { display:block;  width: 100%; height: 100%;}

main section.main-quick{padding-top:60px; padding-bottom:0;}
.main-quick ul li{flex:1; margin:8px;}
.main-quick ul li a{width:100%; display:block; background:#fff; padding:20px; border-radius:10px; text-align:center; border:1px solid #eee; color:#333; transition:0.1s all;}
.main-quick ul li a:hover{box-shadow:0 0 5px 5px #eee;}
.main-quick ul li a dl dt{width:70px; margin:0 auto; background-image: url('../../images/egovframework/main/ico-main.png');
    background-size: auto 70px ; background-position:0 center; padding-top:70px; background-repeat:no-repeat}
.main-quick ul li:nth-child(2) a dl dt{background-position:-80px center;}
.main-quick ul li:nth-child(3) a dl dt{background-position:-167px center;}
.main-quick ul li:nth-child(4) a dl dt{background-position:-250px center;}
.main-quick ul li:nth-child(5) a dl dt{background-position:-332px center;}
.main-quick ul li:nth-child(6) a dl dt{background-position:-416px center;}
.main-quick ul li:nth-child(7) a dl dt{background-position:-497px center;}
.main-quick ul li:nth-child(8) a dl dt{background-position:-586px center;}

/* 기본 상품 아이템 */
.prd_area .prdList{padding:15px 10px; overflow:hidden;}
.prd_area .prdList .prdItem { list-style: none;  margin:0 0 20px;}
/*main .prd_area .labels-area{display:none;}*/
.prd_area .prdList .prdItem.nodata{width:100% !important; }
.prd_area .prdList .prdItem.nodata .nodata{width:100%; padding:50px 0; text-align:center; font-size:18px; color:#999;}

.btn-view-more-wrap{padding:40px 0;}
.btn-view-more{border:2px solid #333; padding:10px 40px;}

/*추천상품 디자인*/
.recommend_area{background:#FCFBF8;}
.recommend_area.prd_area .prdItem{margin:0;}
.recoSwiper-area .recoSwiper .prdInfo,
.recoSwiper-area .recoSwiperSub .prdInfo{position:relative; overflow: hidden; border-radius:15px;}
.recoSwiper-area .recoSwiper .prdInfo.showon{margin-bottom:5px; box-shadow:0 0 5px 5px #ccc; transision:0.5s all;}

.recoSwiper-area .swiper .prdInfo > .prdLink{position: absolute; background: linear-gradient(-180deg, transparent, #ffdddd);
    bottom: 0;    left: 0;    width: 100%;    padding: 5%;}
.recoSwiper-area .swiper.recoSwiper .prdInfo > .prdLink{background: linear-gradient(-180deg, transparent, #ffffff);}
.recoSwiper-area .recoSwiper .priceArea,
.recoSwiper-area .recoSwiper .reviews{display:none;}


main section.shortbanner_area{background:#FFF3CB; padding:0;}
.shortbanner_area a{width:100%; height:100%; display:block;}
.shortbanner_area a .inner{position:relative;}
.shortbanner_area a .banenr-cont {width: 100%;  height: 170px; background-image: url('../../images/egovframework/main/shortbanner251002.png');
    background-size: 100%; position:relative;}
.shortbanner_area a .inner::after {
  content: ""; position: absolute;  top: -40px;  right: 0%;  transform: translateX(-50%);  width: 140px;  height: 200px;
  background-image: url('../../images/egovframework/main/chardood.png');
  background-size: contain;  background-repeat: no-repeat;  animation: floatY 3s ease-in-out infinite;
  z-index: 10;
}


@keyframes floatY {
  0% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -10px); }
  100% { transform: translate(-50%, 0); }
}
