<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserProductMapper">
	<!-- 상품 조회 -->
	<!--
	<select id="selectProductByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT P.PRODUCT_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.SALED_PRICE, P.PRODUCT_CONTENT, P.PRODUCT_WEIGHT, P.IS_VISIBLE
					,PI.IMAGE_ID, PI.IMAGE_URL, PI.ALT_TEXT, PI.SORT_NUMBER, PI.IS_MAIN
			FROM PRODUCTS P
			INNER JOIN PRODUCT_IMG PI
				ON P.PRODUCT_ID = PI.PRODUCT_ID
			WHERE P.PRODUCT_ID = #{productId}
	</select>
	-->
	
	<select id="selectProductByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT P.PRODUCT_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.SALED_PRICE, P.PRODUCT_CONTENT, P.PRODUCT_WEIGHT, P.IS_VISIBLE
					, O.OPTION_NAME, O.OPTION_VALUE
			FROM PRODUCTS P
			LEFT OUTER JOIN OPTIONS O
				ON P.PRODUCT_ID = O.PRODUCT_ID 
			WHERE P.PRODUCT_ID = #{productId}
	</select>
	
		
	<!-- 메인에서 [NEW랑 추천] SORT로 관리하는 LIST용 -->
	<!-- 근데 별도의 상태박스가 있어야할거같긴함 사유 new인동시에 추천일수있어서? 일단 나중에물어보기 -->
	<!-- 나중에 PRODUCT IMG랑 할인가 재고여부 같이 조인필요함 -->
	<select id="selectMNProductListByUser" resultType="java.util.Map">
	    SELECT  P.PRODUCT_ID
	           ,P.PRODUCT_CODE
	           ,P.PRODUCT_NAME
	           ,P.PRODUCT_PRICE
	           ,P.COST_PRICE
	           ,P.SALED_PRICE
	           ,P.PRODUCT_CONTENT
	           ,P.PRODUCT_WEIGHT
	           ,P.IS_VISIBLE
	           ,P.SORT_NUMBER
	           ,COALESCE(GROUP_CONCAT(O.OPTION_NAME, ':', O.OPTION_VALUE SEPARATOR ','), '') AS OPTIONS
	           ,COALESCE(COUNT(R.REVIEW_ID), 0) AS REVIEW_COUNT
	           ,COALESCE(AVG(R.STAR_POINT), 0) AS AVG_STAR_POINT
	    FROM PRODUCTS P
	    LEFT JOIN OPTIONS O
	      ON P.PRODUCT_ID = O.PRODUCT_ID
	    LEFT JOIN REVIEWS R
	      ON P.PRODUCT_ID = R.PRODUCT_ID
	     AND R.REVIEW_STATUS = '정상'   
	    WHERE P.IS_VISIBLE = 'Y'
	      <if test="sortNumber != null and sortNumber != ''">
	        AND P.SORT_NUMBER = #{sortNumber}
	      </if>
	    GROUP BY  P.PRODUCT_ID 
	             ,P.PRODUCT_CODE
	             ,P.PRODUCT_NAME
	             ,P.PRODUCT_PRICE
	             ,P.COST_PRICE
	             ,P.SALED_PRICE
	             ,P.PRODUCT_CONTENT
	             ,P.PRODUCT_WEIGHT
	             ,P.IS_VISIBLE
	             ,P.SORT_NUMBER
	    ORDER BY P.SORT_NUMBER ASC
	</select>
	<!-- 메인에서 [NEW랑 추천] SORT로 관리하는 LIST용 -->
	<!-- best SORT로 관리하는 LIST용 -->
	<select id="selectHotProductListByUser" resultType="java.util.Map">
	    SELECT 
	         PRODUCT_ID
	        ,PRODUCT_NAME
	        ,PRODUCT_CODE
	        ,PRODUCT_PRICE
	        ,COST_PRICE
	        ,PRODUCT_WEIGHT
	        ,VIEW_CNT
	        ,SALED_PRICE
	        ,SORT_NUMBER
	        ,IS_VISIBLE
	        ,INPUT_DT
	        ,UPDATE_DT
	    FROM PRODUCTS 
	    WHERE IS_VISIBLE = 'Y'
	    ORDER BY VIEW_CNT DESC, PRODUCT_ID DESC
	</select>
	
</mapper>