<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="user.mapper.UserMemberMapper">
	<select id="selectIdCheckByUser" resultType="int">
		SELECT COUNT(MEMBER_ID) AS COUNT
		FROM MEMBERS
		WHERE MEMBER_ID = #{id}
	</select>
	<select id="selectEmailCheckByUser" resultType="int">
		SELECT COUNT(MEMBER_ID) AS COUNT
		FROM MEMBERS
		WHERE EMAIL_ADDR = #{to}
	</select>
	<select id="insertSignUpByUser" parameterType="java.util.Map">
		INSERT INTO
	MEMBERS (
        MEMBER_ID,
        USER_NAME,
        PASSWORD,
        LOGIN_TYPE,
        EMAIL_ADDR,
        PHONE_NUMBER,
        BIRTH,
        GENDER,
        GRADE_CODE,
        FIRST_LOGIN_DT,
        LAST_LOGIN_DT,
        STATUS,
        PRICE_AMOUNT,
        INPUT_DT,
        UPDATE_DT,
        MEMBER_TYPE
		)
	VALUES
	(
        #{id},
		#{name},
        #{password},
        #{loginType},
        #{email},
        #{phone},
        #{birth},
        #{gender},
        1,
        NULL,
        NULL,
        'Y',
        0,
        current_timestamp(),
        NULL,
        'user'
    );
	</select>
</mapper>