<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserProductMapper">
	<!-- 상품 조회 -->
	<!--
	<select id="selectProductByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT P.PRODUCT_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.SALED_PRICE, P.PRODUCT_CONTENT, P.PRODUCT_WEIGHT, P.IS_VISIBLE
					,PI.IMAGE_ID, PI.IMAGE_URL, PI.ALT_TEXT, PI.SORT_NUMBER, PI.IS_MAIN
			FROM PRODUCTS P
			INNER JOIN PRODUCT_IMG PI
				ON P.PRODUCT_ID = PI.PRODUCT_ID
			WHERE P.PRODUCT_ID = #{productId}
	</select>
	-->
	
	<select id="selectProductByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT P.PRODUCT_CODE, P.PRODUCT_NAME, P.PRODUCT_PRICE, P.SALED_PRICE, P.PRODUCT_CONTENT, P.PRODUCT_WEIGHT, P.IS_VISIBLE
					, O.OPTION_NAME, O.OPTION_VALUE, O.ADDITIONAL_PRICE
			FROM PRODUCTS P
			LEFT OUTER JOIN OPTIONS O
				ON P.PRODUCT_ID = O.PRODUCT_ID 
			WHERE 1=1
				AND P.PRODUCT_ID = #{productId}
	</select>
	
	<select id="slectOptionInfoByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT OPTION_NAME, COUNT(OPTION_VALUE) AS OPTION_COUNT
			FROM OPTIONS
			WHERE PRODUCT_ID = #{productId}
			GROUP BY OPTION_NAME;
	</select>
	
	<insert id="insertCartItemByUser" parameterType="java.util.Map">
		INSERT INTO CART_ITEMS (CART_ID, PRODUCT_ID, PRODUCT_OPTION, PRICE, QUANTITY, SUB_TOTAL)
			VALUES (#{cartId} , #{productId}, #{option}, #{price}, #{quantity}, #{subTotal} )
	</insert>
	
	
	<select id="selectProductQnAListByUser" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT PRODUCT_QNA_ID, MEMBER_ID, QNA_TITLE, QNA_CONTENT, DATE_FORMAT(INPUT_DT, '%Y-%m-%d') AS INPUT_DT, DATE_FORMAT(UPDATE_DT, '%Y-%m-%d') AS UPDATE_DT
			FROM PRODUCT_QNA
		  WHERE 1=1
		  	AND PRODUCT_ID = #{productId}
	</select>
	
	<insert id="insertQnAByUser" parameterType="java.util.Map">
		INSERT INTO PRODUCT_QNA (PRODUCT_ID, MEMBER_ID, QNA_TITLE, QNA_CONTENT)
			VALUES ( #{productId}, #{memberId}, #{qnaTitle}, #{qnaContent} )
	</insert>
</mapper>