<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserCouponMapper">

	<!-- 프로모션 진행여부 확인 후  아이디를 불러오고 불러온아이디의 쿠폰코드 쪽을 체크해서 특정 PROMOTION_CODE를 가지고있지 않는 사람에게 INSERT해줌 -->
	<!-- 이때 체크할 부분이 프로모션에서 설정한 자동여부 -->
	<insert id="insertAutoPromotionCoupon" parameterType="map">
	    INSERT INTO COUPONS (
	        MEMBER_ID
	        ,COUPON_CODE
	        ,COUPON_NAME
	        ,DISCOUNT_TYPE
	        ,DISCOUNT_VALUE
	        ,MIN_ORDER_PRICE
	        ,ISSUED_DT
	        ,EXPIRY_DT
	        ,COUPON_TYPE
	        ,PROMOTION_ID
	    )
	    SELECT 
	        #{memberId}
	        ,CONCAT(
	            pc.P_COUPON_CODE,
	            '-', #{memberId},
	            '-', DATE_FORMAT(NOW(3), '%Y%m%d%H%i%s%f')
	        ) AS COUPON_CODE
	        ,p.PROMOTION_NAME AS COUPON_NAME
	        ,pd.DISCOUNT_TYPE
	        ,pd.DISCOUNT_VALUE
	        ,pd.MIN_ORDER_PRICE
	        ,NOW() AS ISSUED_DT
	        ,CASE 
	            WHEN pc.PERIOD_SETTING = 'fixed' THEN pc.EXPIRY_DT
	            WHEN pc.PERIOD_SETTING = 'relative_3' THEN DATE_ADD(NOW(), INTERVAL 3 DAY)
	            WHEN pc.PERIOD_SETTING = 'relative_5' THEN DATE_ADD(NOW(), INTERVAL 5 DAY)
	            WHEN pc.PERIOD_SETTING = 'relative_7' THEN DATE_ADD(NOW(), INTERVAL 7 DAY)
	            WHEN pc.PERIOD_SETTING = 'relative_15' THEN DATE_ADD(NOW(), INTERVAL 15 DAY)
	            WHEN pc.PERIOD_SETTING = 'relative_30' THEN DATE_ADD(NOW(), INTERVAL 30 DAY)
	            ELSE pc.EXPIRY_DT
	        END AS EXPIRY_DT
	        ,p.PROMOTION_NAME AS COUPON_TYPE
	        ,CAST(p.PROMOTION_ID AS CHAR) AS PROMOTION_ID
	    FROM PROMOTIONS p
	    INNER JOIN PROMOTION_DISCOUNT pd ON p.PROMOTION_ID = pd.PROMOTION_ID
	    INNER JOIN PROMOTION_TARGET pt ON p.PROMOTION_ID = pt.PROMOTION_ID
	    INNER JOIN PROMOTION_COUPON pc ON p.PROMOTION_ID = pc.PROMOTION_ID
	    WHERE p.IS_ACTIVE = 'Y'
	    AND p.AUTO_ISSUED = 'Y'
	    AND NOW() BETWEEN p.START_DT AND p.END_DT
	    AND NOT EXISTS (
	        SELECT 1 FROM COUPONS c
	        WHERE c.MEMBER_ID = #{memberId}
	        AND c.PROMOTION_ID = CAST(p.PROMOTION_ID AS CHAR)
	    )
	</insert>
	
	<!-- 프로모션에서 수동체크했을때 사용자는 어캐 받을지 일단고민중 -->
	
	<!-- 신규회원자동발급용 -->
    <insert id="insertSignUpCoupon" parameterType="map">
	    INSERT INTO COUPONS (
	        MEMBER_ID
	        ,COUPON_CODE
	        ,COUPON_NAME
	        ,DISCOUNT_TYPE
	        ,DISCOUNT_VALUE
	        ,MIN_ORDER_PRICE
	        ,ISSUED_DT
	        ,EXPIRY_DT
	        ,COUPON_TYPE
	    ) VALUES (
	        #{memberId}
	        ,#{couponCode}
	        ,#{couponName}
	        ,#{discountType}
	        ,#{discountValue}
	        ,#{minOrderPrice}
	        ,NOW()
	        ,#{expiryDt}
	        ,#{couponType}
	    )
	</insert>
	
</mapper>