<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserBoardMapper">

	<select id="selectPostListByUser" parameterType="hashmap" resultType="hashmap">
	#게시글 리스트 조회 
          SELECT 
                 POST_ID
               , BOARD_ID
               , POST_TITLE
               , DATE_FORMAT(INPUT_DT, '%Y-%m-%d') AS INPUT_DT
            FROM POSTS
           WHERE DELETE_DT IS NULL
  	<choose>
  		<when test="category!=null and category!=''">
  			AND BOARD_ID = #{category}
  		</when>
  		<otherwise>
  			AND BOARD_ID IN (1,2,4)
  		</otherwise>
  	</choose>
    LIMIT #{firstIndex}, #{pageSize}
    </select>
    
    <!-- 공지사항 총 개수 조회 -->
    <select id="selectPostTotalCountByUser" parameterType="hashmap" resultType="int">
       SELECT 
             COUNT(*) 
        FROM POSTS 
       WHERE DELETE_DT IS NULL
         AND BOARD_ID IN (1,2,4)
    </select>
    
    <select id="selectUserPostDetailByUser" parameterType="int" resultType="map">
    #상세 게시글 조회
    	SELECT
               BOARD_ID
             , MEMBER_ID
             , POST_TYPE
             , DATE_FORMAT(INPUT_DT, '%Y-%m-%d')
               AS INPUT_DT
             , POST_TITLE
             , POST_CONTENT
             , VIEW_CNT
          FROM POSTS 
         WHERE POST_ID = #{postId}
    </select>
    
    <update id="updateUserPostCntByUser" parameterType="int">
    #게시글 조회수 업데이트
    	UPDATE POSTS
    	   SET VIEW_CNT = VIEW_CNT +1
    	 WHERE POST_ID = #{postId}
    </update>
    
    <select id="selectUserCommentByUser" parameterType="int" resultType="map">
    	SELECT
               COMMENT
             , MEMBER_ID
             , DATE_FORMAT(INPUT_DT, '%Y-%m-%d')
               AS INPUT_DT
          FROM COMMENTS 
         WHERE POST_ID = #{postId}
    </select>
</mapper>