<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.mapper.UserCartMapper">
	<!-- 장바구니 리스트 조회 -->
	<select id="selectCartListByUser" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			  P.PRODUCT_ID
			, P.PRODUCT_NAME
			, CI.PRODUCT_OPTION
			, CI.PRICE
			, CI.QUANTITY
			, CI.SUB_TOTAL
			, CI.IS_CHECKED
		FROM CARTS C
		INNER JOIN CART_ITEMS CI
			ON C.CART_ID = CI.CART_ID
		INNER JOIN PRODUCTS P
			ON CI.PRODUCT_ID = P.PRODUCT_ID
		WHERE C.MEMBER_ID = #{memberId}
	</select>
	
	<!-- 수량 변경 디비 저장 -->
	<update id="updateQuantity" parameterType="java.util.HashMap">
		UPDATE CART_ITEMS CI
			INNER JOIN CARTS C
				ON CI.CART_ID = C.CART_ID
			SET CI.QUANTITY = #{quantity}
				, CI.SUB_TOTAL = #{price} * #{quantity}
			WHERE CI.CART_ID = #{cartId}
				AND CI.PRODUCT_ID = #{productId}
				AND CI.PRODUCT_OPTION = #{option}
	</update>
	
	<!-- 상품 체크박스 수정  -->
	<update id="updateChkBox" parameterType="java.util.HashMap">
		UPDATE CART_ITEMS
			SET IS_CHECKED = #{isChecked}
			WHERE CART_ID = #{cartId}
				AND PRODUCT_ID = #{productId}
				AND PRODUCT_OPTION = #{option}
	</update>
	
	<!-- 상품 삭제 -->
	<delete id="deleteProduct" parameterType="java.util.HashMap">
		DELETE FROM CART_ITEMS
			WHERE CART_ID = #{cartId}
				AND PRODUCT_ID = #{productId}
				AND PRODUCT_OPTION = #{option}
	</delete>
	
	<!-- 체크박스 선택한 상품만 주문하기 -->
	<select id="selectedTotalPriceByUser" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT CART_ID, SUM(SUB_TOTAL) AS SUM_SUB
			FROM CART_ITEMS
			WHERE CART_ID = #{cartId}
				AND IS_CHECKED = 'Y'
			GROUP BY CART_ID
	</select>
</mapper>