
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  
}

.nexatransform
{
  
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Button.btn_top_menu
{
	border : 0px;
	background : #004aad;
	border-radius : 0px;
	box-shadow : 0px 0px 0px rgba(0, 0, 0, 0.2);
	color : white;
	cursor : pointer;
	font : normal bold  14pt/normal "Arial";
	letter-spacing : 0.5px;
	opacity : 0.96;
	word-spacing : 5px;
}
.Button.btn_top_menu >.nexaedge
{
	border-image-source : none;
	border-image-slice : 100% fill;
	border-image-width : 0px;
}
.Button.btn_top_menu .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btnLogin
{
	border-radius : 5px;
	color : #ffffff;
	cursor : pointer;
	font : bold 16px Arial, sans-serif;
	background : #16408d;
}
.Static.sta_WF_DetailLabel
{
	border : 1px solid #bdc2c9;
	background : #e7eaee;
	font : 13px "Verdana","Malgun Gothic";
}
.Static.sta_WF_DetailArea
{
	border : 1px solid #ffffff;
	background : #ffffff;
	border-radius : 15px;
}
.Grid.ATEAM .head .row .cell
{
	background : #16408D;
	color : #ffffff;
}
.Grid .body .row .cell.backgroundRed.dummy.dummy.dummy
{
	background : #FFCEDA !important;
}
.Grid .body .row .cell.backgroundBlue.dummy.dummy.dummy
{
	background : #B0E0E6 !important;
}
#nexacontainer .Button.btn_top_menu[status=mouseover]
{
	border : 0px none #ffffff;
	background : #ffffff;
	border-radius : 30px;
	box-shadow : 0px 0px 0px rgba(0, 0, 0, 0.2);
	color : #0F89F9;
	cursor : pointer;
	font : normal 700 14pt /normal "Arial";
	letter-spacing : 0.5px;
	opacity : 0.96;
	word-spacing : 5px;
}
#nexacontainer .Button.btn_top_menu[status=mouseover] >.nexaedge
{
	border-image-source : none;
	border-image-slice : 100% fill;
	border-image-width : 0px;
}
#nexacontainer .Button.btn_top_menu[status=focused]
{
	border : 0px;
	background : #004aad;
	border-radius : 0px;
	box-shadow : 0px 0px 0px rgba(0, 0, 0, 0.2);
	color : white;
	cursor : pointer;
	font : normal bold  14pt/normal "Arial";
	letter-spacing : 0.5px;
	opacity : 0.96;
	word-spacing : 5px;
}
#nexacontainer .Button.btn_top_menu[status=focused] >.nexaedge
{
	border-image-source : none;
	border-image-slice : 100% fill;
	border-image-width : 0px;
}
#nexacontainer .Button.btnLogin[status=focused]
{
	border-radius : 5px;
	color : #ffffff;
	cursor : pointer;
	font : bold 16px Arial, sans-serif;
	background : #16408d;
}
#nexacontainer .Button.btnLogin[status=mouseover]
{
	border-radius : 5px;
	color : #ffffff;
	cursor : pointer;
	font : bold 16px Arial, sans-serif;
	background : #16408d;
}
#nexacontainer .Edit.edt_Adr[status=readonly]
{
	background : white;
	color : black;
}
#nexacontainer .Combo.cmb_readonly[status=readonly]
{
	background : white;
	color : black;
}
#nexacontainer .Button.btnLogin[status=disabled]
{
	border-radius : 5px;
	color : #ffffff;
	cursor : pointer;
	font : bold 16px Arial, sans-serif;
	background : #16408d;
}
